
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">关于我们</li>
        </ol>
    </nav>
</div>
    
{{!-- 关于我们 --}}
<div class="container-fluid" id="about-us">
    <img src="img\szu-banner.png" class="w-100">
    <small class="d-block text-right">（图片来源: 深圳大学官网）</small>
    <div class="about-us w-75 mx-auto py-3">
        <h3 class="mb-3" style="color:#bc1e58"><b>关于我们：</b></h3>
        <p>深圳大学安省校友会于2019年在加拿大多伦多正式成立。宣扬互助友爱精神，组织面向家庭的娱乐活动。</p>
    </div>
</div>

{{>footer}}  
