
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/events">活动动态</a></li>
            <li class="breadcrumb-item active" aria-current="page">新建活动</li>
        </ol>
    </nav>
</div>
    
{{!-- 新建活动 --}}
<div class="container-fluid" id="create-event">
    <div class="w-75 mx-auto py-3">
        <form id="create-event-form">
            <div class="form-group">
                <label for="inputTitle">活动标题</label>
                <input type="text" class="form-control" name="title" id="inputTitle" placeholder="活动标题" autocomplete="off" required>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputAuthor">作者</label>
                    <input type="text" class="form-control" name="author" id="inputAuthor" placeholder="作者">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCreateDate">创建时间</label>
                    <input type="text" class="datepicker form-control" name="create_date" id="inputCreateDate" placeholder="(YYYY-MM-DD)" autocomplete="off" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEventDate">活动举行时间</label>
                    <input type="text" class="datepicker form-control" name="event_date" id="inputEventDate" placeholder="(YYYY-MM-DD)" autocomplete="off" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEventContent">内容</label>
                <textarea class="form-control" name="content" id="inputEventContent" rows="10" style="resize: none"></textarea>
            </div>

            <div class="form-group">
                <label for="uploadPhoto">上传图片(每张不得超过2M) 待开发...</label>
                <input type="file" name="photo" class="form-control-file" id="uploadPhoto" accept=".jpg,.jpeg,.png" disabled>
            </div>

            <div class="form-group">
                <label for="uploadPDF">上传PDF (不得超过5M)</label>
                <input type="file" name="pdf" class="form-control-file" id="uploadPDF" accept=".pdf">
            </div>

            <button type="submit" class="btn btn-primary">发布活动</button>
        </form>  
    </div>
</div>

<script>

    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight:true,
        todayBtn: 'linked',
        clearBtn: true,
        autoclose: true
    });

    const checkDateFormat = (date) => {
        return date.match(/^\d{4}\-\d{2}\-\d{2}$/);
    }

    $('#create-event-form').on('submit',(e)=>{
        e.preventDefault();

        const title = $('#inputTitle').val().trim();
        const create_date = $('#inputCreateDate').val();
        const event_date = $('#inputEventDate').val();

        if (!title) {
            alert('请输入活动标题');
            $('#inputTitle').focus();
            return;
        }

        if (!checkDateFormat(create_date)) {
            alert('请修改日期格式为YYYY-MM-DD')
            $('#inputCreateDate').focus()
            return;
        }

        if (!checkDateFormat(event_date)) {
            alert('请修改日期格式为YYYY-MM-DD')
            $('#inputEventDate').focus()
            return;
        }

        const form_data = new FormData()
        form_data.append('title', title)
        form_data.append('author', $('#inputAuthor').val().trim() || '佚名')
        form_data.append('create_date', create_date)
        form_data.append('event_date', event_date)
        form_data.append('content', $('#inputEventContent').val() || '')
        //form_data.append('pdf', $('#uploadPDF')[0].files[0])
        for (const pdfFile of $('#uploadPDF')[0].files) {
            if (pdfFile.size > 5242880) {
                return alert('上传PDF不得超过5M')
            }
            form_data.append('pdf',pdfFile,pdfFile.name)
        }

        $('button[type="submit"]').prop("disabled", true);

        fetch('/events', {
            method: 'POST',
            body: form_data
        }).then((res) => res.json())
          .then((data) => {
            if (data.err) {
                return alert(data.err);
            }
            console.log(data);
            window.location.href = `/events/${data._id}`;
          })
          .catch((err) => console.log(err) );

    });



</script>


{{>footer}}  
