
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/events">活动动态</a></li>
            <li class="breadcrumb-item active" aria-current="page">新建活动</li>
        </ol>
    </nav>
</div>
    
{{!-- 新建活动 --}}
<div class="container-fluid" id="create-event">
    <div class="w-75 mx-auto py-3">
        <form id="create-event-form">
            <div class="form-group">
                <label for="inputTitle">活动标题</label>
                <input type="text" class="form-control" name="title" id="inputTitle" placeholder="活动标题" autocomplete="off" required>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputAuthor">作者</label>
                    <input type="text" class="form-control" name="author" id="inputAuthor" placeholder="作者">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCreateDate">创建时间</label>
                    <input type="text" class="datepicker form-control" name="create_date" id="inputCreateDate" placeholder="(YYYY-MM-DD)" autocomplete="off" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEventDate">活动举行时间</label>
                    <input type="text" class="datepicker form-control" name="event_date" id="inputEventDate" placeholder="(YYYY-MM-DD)" autocomplete="off" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEventContent">内容</label>
                <textarea class="form-control" name="content" id="inputEventContent" rows="10" style="resize: none"></textarea>
            </div>

            <div class="form-group">
                <label for="uploadPhoto" class="btn btn-outline-primary">添加图片<small>(每张小于2M，最多选择20张)</small></label>
                <input type="file" name="photos" class="form-control-file" id="uploadPhoto" accept=".jpg,.jpeg,.png" hidden multiple>
            </div>

            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6" id="gallery">
                {{!-- <div class="col mb-2">
                    <a href="#" class="close-icon"><i class="fas fa-times-circle fa-sm close"></i></a>
                    <img src="/img/events/1579368218072_badminton-team.png" class="w-100">
                </div> --}}
            </div>


            <div class="form-group">
                <label for="uploadPDF" class="btn btn-outline-primary">上传PDF<small>(小于5M)</small></label> 
                <input type="file" name="pdf" class="form-control-file" id="uploadPDF" accept=".pdf" hidden>
                <span id="PDFlable" class="ml-3"></span>
            </div>

            <button type="submit" class="btn btn-primary">发布活动</button>
        </form>  
    </div>
</div>

<script>

    let imgs_list = [];
    let index = 0;

    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight:true,
        todayBtn: 'linked',
        clearBtn: true,
        autoclose: true
    });

    const checkDateFormat = (date) => {
        return date.match(/^\d{4}\-\d{2}\-\d{2}$/);
    }

    const showImg = (url, index) => {
        let $div = $('<div>',{
                        class: 'col mb-2'
                    })
        let $close = $('<a>', {
                        href: "#",
                        class: 'close-icon'
                    }).append($('<i>',{
                            class: 'fas fa-times-circle fa-sm close'
                        }))
        let $img = $('<img>',{
                        id: 'img-'+index,
                        src: url,
                        class: 'w-100'
                    })
        $div.append($close).append($img).appendTo($('#gallery'))
    }

    const readURL = (img, index) => {
            var reader = new FileReader();
            reader.onload = function (e) {
                showImg(e.target.result, index)
            }
            reader.readAsDataURL(img);
    }

    $('#uploadPhoto').on('change', () => {
        let $imgs = $('#uploadPhoto')[0].files
        for (const imgFile of $imgs) {
            if (imgFile.size > 2097152) {
                return alert('上传图片每张不得超过2M')
            }
        }

        if ($('#uploadPhoto').val()) {
            $('input[name="photos"]').prop("disabled", true);
            for (const imgFile of $imgs) {
                index ++;
                imgs_list.push([imgFile, index]);
                readURL(imgFile, index)
            }

            $('#uploadPhoto').val(null);
            $('input[name="photos"]').prop("disabled", false);
        }
    })

    $('#uploadPDF').on('change', () => {
        if (!$('#uploadPDF').val()) {
            return $('#PDFlable').html('未选择').removeClass('text-success').addClass('text-danger');
        }
        else {
            let $pdf = $('#uploadPDF')[0].files[0]
            if ($pdf.size > 5242880) {
                alert('上传PDF不得超过5M');
                $('#uploadPDF').val(null);
                $('#PDFlable').html('未选择').removeClass('text-success').addClass('text-danger');
                return;
            }
            $('#PDFlable').html('已选择: ' + $pdf.name + " - " + ($pdf.size/1048576).toFixed(2) + "M")
                            .addClass('text-success')
                            .removeClass('text-danger')
        }
    })

    $('#create-event-form').on('submit',(e)=>{
        e.preventDefault();

        const title = $('#inputTitle').val().trim();
        const create_date = $('#inputCreateDate').val();
        const event_date = $('#inputEventDate').val();

        if (!title) {
            alert('请输入活动标题');
            $('#inputTitle').focus();
            return;
        }

        if (!checkDateFormat(create_date)) {
            alert('请修改日期格式为YYYY-MM-DD')
            $('#inputCreateDate').focus()
            return;
        }

        if (!checkDateFormat(event_date)) {
            alert('请修改日期格式为YYYY-MM-DD')
            $('#inputEventDate').focus()
            return;
        }

        if (imgs_list.length > 20) {
            return alert('最多只可选择20张图片')
        }

        //let photos = []
        //$('#gallery img').each(function() {
        //    photos.push({url: $(this).attr('src')})
        //})

        let $pdf = $('#uploadPDF')[0].files[0]

        const form_data = new FormData()
        form_data.append('title', title)
        form_data.append('author', $('#inputAuthor').val().trim() || '佚名')
        form_data.append('create_date', create_date)
        form_data.append('event_date', event_date)
        form_data.append('content', $('#inputEventContent').val() || '')

        if (imgs_list.length > 0) {
            imgs_list.forEach(([imgFile, index]) => {
                form_data.append('photos',imgFile)
            })
            
        }
        
        if ($pdf) {
            form_data.append('pdf', $pdf)
        }
        

        $('button[type="submit"]').prop("disabled", true);

        fetch('/events', {
            method: 'POST',
            body: form_data
        }).then((res) => res.json())
          .then((data) => {
            if (data.err) {
                return alert(data.err);
            }
            //console.log(data);
            window.location.href = `/events/${data._id}`;
          })
          .catch((err) => console.log(err) );

    });

    $('#gallery').on('click', '.close-icon', (e) =>{
        e.preventDefault();
        $(e.target).bind('click',(e) => { return false;})
        let $a = $(e.target).closest('a')
        let img_id = $a.siblings('img').attr('id')

        $a.parent('div').remove()

        imgs_list = imgs_list.filter(([imgFile,index]) => {
            return !(('img-' + index) == img_id)
        })

    })

</script>


{{>footer}}  
