
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">理事会</li>
        </ol>
    </nav>
</div>

<div class="container-fluid" id="members">
    <div class="w-75 mx-auto members table-responsive">
        <table class="table table-hover table-bordered text-center">
            <caption>深大安省校友会理事会 Update: {{update}}</caption>
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">职务</th>
                </tr>
            </thead>
            <tbody>
                {{# members}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{title}}</td>
                </tr>
                {{/ members}}
            </tbody>
        </table>
    </div>

</div>
    
{{>footer}}  
