
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">成员架构</li>
        </ol>
    </nav>
</div>

<div class="container-fluid" id="members">
    <div class="w-75 mx-auto members table-responsive">
        <table class="table table-hover table-bordered">
            <caption>成员架构 Update:2019</caption>
            <thead>
                <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">职务</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>孙晋</td>
                    <td>会长</td>
                </tr>

                <tr>
                    <td>Jeff Ding</td>
                    <td>副会长</td>
                </tr>

                <tr>
                    <td>Kimberly</td>
                    <td>秘书长</td>
                </tr>

                <tr>
                    <td>Grace Z</td>
                    <td>执行会长</td>
                </tr>

                <tr>
                    <td>Bryan Chan</td>
                    <td>财务长</td>
                </tr>

                <tr>
                    <td>周迅梅</td>
                    <td>法务长</td>
                </tr>

                <tr>
                    <td>Jeffrey Ji</td>
                    <td>理事</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
    
{{>footer}}  
