<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>深圳大学安省校友会-管理员登录</title>

      <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
      
      {{!-- bootstrap css --}}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
      {{!-- bootstrap js --}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

      <!-- Custom styles for this template -->
      <link href="/css/signin.css" rel="stylesheet">
      
    </head>
    <body class="text-center">
      <form class="form-signin">
        <img class="mb-4" src="img\sz-logo-trans.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputAccount" class="sr-only">Account</label>
        <input type="text" id="inputAccount" name="account" class="form-control" placeholder="Account ID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        {{!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> --}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-0 text-muted">&copy; 2019 深大安省校友会</p>
        <p class="mt-0 mb-3 text-muted">Designed by Zhuoran Yu</p>
    </form>
  </body>

  <script>
    $('.form-signin').on('submit', (e) => {
        e.preventDefault();

        const form_data = {
            account: $('#inputAccount').val(),
            password: $('#inputPassword').val()
        }

        fetch('/admin/login', {
            method: 'POST',
            headers : { "Content-Type": "application/json" },
            body: JSON.stringify(form_data)
        }).then((res) => res.json())
          .then((data) => {
              if (data.err) {
                  alert('Account or Password Invalid!');
                  $('#inputPassword').focus();
                  return;
              }
              window.location.href = '/events';
          })
          .catch((err)=>console.log(err));

    });


  </script>
</html>