
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">文娱队伍</li>
        </ol>
    </nav>
</div>
    

<div class="container-fluid" id="sport-teams">
    <div class="w-75 mx-auto sport-teams table-responsive">
        <table class="table table-hover table-bordered">
            <caption></caption>
            <thead>
                <tr>
                    <th scope="col">俱乐部</th>
                    <th scope="col">队长</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>羽毛球俱乐部</td>
                    <td>August Jian</td>
                </tr>
                <tr>
                    <td>乒乓球俱乐部</td>
                    <td>Grace Z</td>
                </tr>
                <tr>
                    <td>Hiking俱乐部</td>
                    <td>Jeffrey Ji</td>
                </tr>
                <tr>
                    <td>排球俱乐部</td>
                    <td></td>
                </tr>
                <tr>
                    <td>舞蹈俱乐部</td>
                    <td></td>
                </tr>
                <tr>
                    <td>自行车俱乐部</td>
                    <td></td>
                </tr>
                <tr>
                    <td>射箭俱乐部</td>
                    <td></td>
                </tr>
                <tr>
                    <td>高尔夫俱乐部</td>
                    <td></td>
                </tr>
                <tr>
                    <td>摄影俱乐部</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
    
{{>footer}}  
