</div>

{{!-- footer --}}
<div class="container-fluid" id="footer">
    <div class="footer">

        <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#footerNavbarNav" aria-controls="footerNavbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="footerNavbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/council">理事会</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/downloads">历史资料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#donateModal">热心捐赠</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row justify-content-center w-50 mx-auto my-3 social-media">
            <div class="col-3 text-center">
                <a href="https://www.facebook.com/groups/1073288389542329/" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-square text-dark"></i>
                </a>
            </div>
            <div class="col-3 text-center">
                <a href="https://www.linkedin.com/groups/13731974/" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin text-dark"></i>
                </a>
            </div>
            <div class="col-3 text-center">
                <a href="#" data-toggle="modal" data-target="#wechatModal">
                    <i class="fab fa-weixin text-dark" title="WeChat"></i>
                </a>
            </div>
            <div class="col-3 text-center">
                <a href="#" data-toggle="modal" data-target="#emailModal">
                    <i class="fas fa-envelope text-dark" title="Email to us"></i>
                </a>
            </div>
        </div>

        {{!-- modal --}}
        <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Donate Us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-justify">
                                <h5><b>捐赠校友会</b></h5>
                                <span>请热心校友将捐款e-transfer到校友会财务长Bryan Chen的邮箱：</span><br>
                                <span><b>bryanchen2013@gmail.com</b></span><br>
                                <span>可不设密码。请在message栏注明捐款人姓名、入学年级及专业，方便统计及公布。</span><br>
                                <span>感谢您对校友会工作的支持！</span>
                            </div>
                            <div class="col-md-6 mt-3 mt-md-0 donate-me">
                                <h5><b>打赏程序员(微信)</b></h5>
                                <img src="/img/donate-me.png" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="wechatModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Our WeChat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/wechat-official-account.png" class="w-100">
                        <p>扫描二维码关注深大安省校友会公众号——枫华荔园</p>
                        <hr>
                        <p>申请加入深大安省校友会微信群,请联系校友会</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Email to Us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please email to <a href="mailto:admin@szualumni.org">admin@szualumni.org</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright text-center my-3">
            <span>Copyright &copy; 2019 深大安省校友会. All Rights Reserved</span><br>
            <span>Designed by Zhuoran Yu</span>
        </div>

    </div>
</div>

<a href="#" id="back-to-top" class="d-none d-lg-inline"><i class="fas fa-arrow-up"></i></a>

</body>


<script src="/js/script.js"></script>

<script>
    $('#back-to-top').on('click', () => {
        $("body,html").animate({scrollTop:0},500);
    })
</script>
</html>