:root {
    --main-color: #bc1e58;
    --hover-color: #e4122e;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
        STHeiti, MingLiu, "宋体", Arial, Helvetica, sans-serif;
    color: #333;
    word-wrap: break-word;
}

p,
span {
    white-space: pre-wrap;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

.theme-color{
    color: var(--main-color);
}

/* navbar */
#navbar .navbar-brand span {
    font-size: 3rem;
    font-family: "Zhi Mang Xing", cursive;
    letter-spacing: -0.1rem;
}

@media screen and (max-width: 767.98px) {
    #navbar .navbar-brand span {
        font-size: 2rem;
        letter-spacing: -0.3rem;
    }
}

/* content */
.content {
    flex: auto;
}

/* carousel */
#carousel .carousel-item {
    height: 41vw;
    background: var(--main-color);
}

#carousel .carousel-item .carousel-words-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    text-align: justify;
}

#carousel .carousel-item .carousel-words-box .carousel-words {
    display: block;
    color: #fdfefd;
}

#carousel .carousel-item .carousel-words-box .carousel-words h3 {
    /* margin-top: 4%; */
    font-size: 4vw;
    color: inherit;
    font-weight: bold;
}

#carousel .carousel-item .carousel-words-box .carousel-words p {
    font-size: 1.5vw;
    margin: 0.6vw 0;
    color: inherit;
}

#carousel .blockquote-footer {
    font-size: 1.4vw;
    color: inherit;
}

@media screen and (max-width: 767.98px) {
    #carousel .carousel-item {
        height: auto;
    }

    #carousel .carousel-item .carousel-words-box {
        min-height: 40vw;
        text-align: center;
        width: 80%;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        margin: 0 auto;
        padding: 0;
    }

    #carousel .carousel-item .carousel-words-box .carousel-words h3 {
        margin-top: 0;
        font-size: 4.5vw;
    }

    #carousel .carousel-item .carousel-words-box .carousel-words p {
        font-size: 2vw;
    }

    #carousel .blockquote-footer {
        font-size: 1.5vw;
    }
}

/* features */
#features p {
    text-align: center;
    letter-spacing: 2vw;
    padding-left: 2vw;
    margin-top: 1vw;
}

#features i {
    color: var(--main-color);
}

#features i:hover {
    color: var(--hover-color);
}

/* footer */
#footer .footer {
    background-color: #acacac;
    /* background-color: #e8ecef; */
    padding: 1vw 0;
    flex-shrink: 0;
}

#footer .social-media i {
    margin: 1vw 0;
    font-size: 1.6vw;
}

#footer .copyright span {
    font-size: 1vw;
    color: #505050;
}

#donateModal .modal-body .donate-me {
    border-left: #e2e3e5 1px solid;
}

@media screen and (max-width: 767.98px) {
    #donateModal .modal-body .donate-me {
        border: none;
    }
}

/* enterprise */
#category .card div:nth-child(1) i {
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

#enterprise .card .carousel-item {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

#enterprise .card .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
}

/* back-to-top */
#back-to-top {
    position: fixed;
    bottom: 38%;
    float: right;
    right: 0.5%;
    font-size: 2rem;
    color: var(--main-color);
}

#back-to-top:hover {
    color: var(--hover-color);
    font-size: 2.1rem;
}

/* events */
#event-page p {
    margin: 0;
}

#create-event #gallery .ghost {
    opacity: 0.4;
    border: 1px dashed #333;
}